<h1>
  Welcome to {{title}}
</h1>

<app-numeric-input [value]="42"></app-numeric-input>
<app-numeric-input></app-numeric-input>
<app-numeric-input></app-numeric-input>
<app-numeric-input></app-numeric-input>
<app-numeric-input></app-numeric-input>

<button type="button" (click)="title = title + '!!'">
  Click me!
</button>

<h2>{{mynumber + 1}}</h2>

<label>
  <input type="text" [(ngModel)]="title">
</label>

<p>{{todos}}</p>

<ul>
  <li *ngFor="let item of todos">
    {{item}}
    <button type="button" (click)="removeItem(item)">
      x
    </button>
  </li>
</ul>

<button type="button" (click)="addItem()">
  Add item
</button>
